/node_modules
/public/hot
/public/storage
# Package static assets
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
.php_cs.cache
# Laravel Nova
/nova
nova.zip
resources/views/vendor/nova
# Package language files
resources/lang/vendor
# Generated Swagger API docs
storage/api-docs
